.login_form_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login_form > div {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.subtitle {
  font-size: 14px;
  color: #555;
  text-align: center;
  margin-bottom: 18px;
}

.form{
  margin: 0px 30px;
}

/* FORM STYLE */
.formRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: .3rem;
  gap: 0px 20px;
}

.formRow input {
  width: 100%;
  margin-top: 1.3rem;
  padding: .65rem;
  border: 1px solid lightgray;
  outline: none;
  border-radius: 3px;
  font-family: 'Sintony', sans-serif;
}

.formRow input:focus,
.formRow textarea:focus {
  border-color: #a871d8;
}

.btns {
  width: 100%;
  background-color: #9f29bd;
  margin-top: 2.2rem;
  display: flex;
  justify-content: center;
}

.check{
  font-size: 0.8rem;
  margin-top: 20px;
}

.colItem, .colMail {
  width: 100%;
}

.colItem input, .colMail input {
  width: 100%;
  padding: 0.65rem;
  border: 1px solid lightgray;
  outline: none;
  border-radius: 3px;
  font-family: 'Sintony', sans-serif;
  margin-bottom: 5px;
}

.text_danger {
  color: red;
  font-size: 12px;
  margin-top: -3px;
}

.formRow .colItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 0; /* Remove the negative margin */
}

/* Responsive CSS for small screens */
@media screen and (max-width: 768px) {
  .formRow {
    display: flex;
    flex-direction: column;
  }

  .btns {
    display: flex;
    flex-direction: column;
  }
}
