/* trainersForm styles */
.addFormContainer{
    /* margin-top: 4rem; */
    width: 100%;
    border-radius: 0.625rem;
    border: 1px solid lightgray;
}
.formTop{
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: 1.75rem;
text-transform: capitalize;
padding: 1.5rem 1.5rem 1.5rem 2.5rem;
}
.addForm{
    padding: 1.5rem 2.5rem;
    background-color: #fafafa;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    /* background-color: red; */
}
