.form {
    padding: 25px;
    margin: 0 auto;
  }
  
  .form h2 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .form p {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-bottom: 35px;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  input[type="email"]:focus {
    outline: none;
    border-color: #61ac8a;
    box-shadow: 0 0 5px rgba(97, 172, 138, 0.3);
  }
  
  button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #61ac8a;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #549e7a;
  }
  
  small {
    display: block;
    margin-top: 15px;
    text-align: center;
  }
  
  a {
    color: #7e22ce;
    text-decoration: none;
    font-size: 14px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  