/* Header CSS */

.header{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.notification_bar {
    background-color: #AB6DBA;
    color: white;
    padding: 10px 20px;
    text-align: center;
    align-items: center;
    font-size: 14px;
}

.learn_more_link {
    color: #FFD700; /* Gold-like color for the link */
    text-decoration: underline;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo_div {
    margin-right: 2rem;
}

.logo {
    width: 80px; /* Adjust the width */
    height: auto; /* Maintain aspect ratio */
}

.navLink {
    display: flex;
    gap: 30px; /* Adjust gap between links */
    margin: 0;
    align-items: center;
}

.navLink li {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    position: relative; /* For positioning dropdown arrow */
}

.navLink li:hover {
    color: #174FA0;
    border-bottom: 2px solid #174FA0;
}

.dropdown_arrow {
    font-size: 10px;
    margin-left: 5px;
}

.button_div {
    margin-right: 20px;
}

.btn Button {
    font-weight: 600;
}
